.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    position: relative;
}

.artistItem{
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex .8s ease;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    cursor: pointer;
}

.artistItem:hover {
    flex: 7;
}