body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: assistant,sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.MuiAccordionSummary-content, .Mui-expanded{
  margin: initial !important;
}
.MuiAccordionDetails-root{
  padding: initial !important;
  padding-left: 0;
  background: #f6f6f6;
  width: 100%;
  margin-bottom: 15px;
}